/tools/
/vendor/
phpunit.xml
.phpunit.*
tests/Barnetik/Tbai/__files/signedXmls/
tests/Barnetik/Tbai/__files/responses/
tests/Barnetik/Tbai/__files/sentFiles/
tests/tools/*.p12
/nbproject
/specs/ignore-*

