parameters:
  level: 5
  paths:
    - src
    - tests
  ignoreErrors:
    -
      message: '#Access to an undefined property .*::\$saveFilename#'
      path: src/Barnetik/Tbai/Xades/TicketBai.php
    -
      message: '#Parameter \#3 \$mimeType of class .*#'
      path: src/Barnetik/Tbai/Xades/TicketBai.php
    - 
      message: '#Deprecated in PHP 8.*#'
      paths:
        - src/
    -
      message: '#.* will always evaluate to true.*#'
    -
      message: '#.* is never assigned null.*#'
    
