<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="./tests/bootstrap.php" colors="true" testdox="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd">
  <!-- <coverage>
    <include>
      <directory>./src</directory>
    </include>
    <exclude>
      <directory>./tests</directory>
      <directory>./vendor</directory>
    </exclude>
  </coverage> -->
  <testsuites>
    <testsuite name="Tbai test suite">
      <directory suffix="Test.php">./tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="TBAI_ARABA_APP_LICENSE" value="TBAIBI00000000PRUEBA" />
    <env name="TBAI_ARABA_APP_NAME" value="SOFTWARE GARANTE TICKETBAI PRUEBA" />
    <env name="TBAI_ARABA_APP_VERSION" value="1.0" />
    <env name="TBAI_ARABA_APP_DEVELOPER_NIF" value="11111111H" />

    <env name="TBAI_ARABA_PRIVATE_KEY" value="IZDesa2021" />
    <env name="TBAI_ARABA_P12_PATH" value="./tests/__files/PertsonaFisikoa_PersonaFisica.p12" />

    <env name="TBAI_ARABA_ISSUER_NIF" value="00000000T" />
    <env name="TBAI_ARABA_ISSUER_NAME" value="Issuer name" />


    <env name="TBAI_BIZKAIA_APP_LICENSE" value="TBAIBI00000000PRUEBA" />
    <env name="TBAI_BIZKAIA_APP_NAME" value="SOFTWARE GARANTE TICKETBAI PRUEBA" />
    <env name="TBAI_BIZKAIA_APP_VERSION" value="1.0" />
    <env name="TBAI_BIZKAIA_APP_DEVELOPER_NIF" value="11111111H" />

    <env name="TBAI_BIZKAIA_PRIVATE_KEY" value="IZDesa2021" />
    <env name="TBAI_BIZKAIA_P12_PATH" value="./tests/__files/PertsonaFisikoa_PersonaFisica.p12" />

    <env name="TBAI_BIZKAIA_ISSUER_NIF" value="00000000T" />
    <env name="TBAI_BIZKAIA_ISSUER_NAME" value="Issuer name" />


    <env name="TBAI_GIPUZKOA_APP_LICENSE" value="TBAIBI00000000PRUEBA" />
    <env name="TBAI_GIPUZKOA_APP_NAME" value="TBAI Zubia" />
    <env name="TBAI_GIPUZKOA_APP_VERSION" value="1.0" />
    <env name="TBAI_GIPUZKOA_APP_DEVELOPER_NIF" value="11111111H" />

    <env name="TBAI_GIPUZKOA_PRIVATE_KEY" value="IZDesa2021" />
    <env name="TBAI_GIPUZKOA_P12_PATH" value="./tests/__files/EnpresaZigilua_SelloDeEmpresa.p12" />

    <env name="TBAI_GIPUZKOA_ISSUER_NIF" value="00000000T" />
    <env name="TBAI_GIPUZKOA_ISSUER_NAME" value="Issuer name" />
  </php>
</phpunit>