<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  bootstrap="./tests/bootstrap.php"
  colors="true"
  testdox="true"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
>
  <coverage>
    <include>
      <directory>./src</directory>
    </include>
    <exclude>
      <directory>./tests</directory>
      <directory>./vendor</directory>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="Tbai test suite">
      <directory suffix="Test.php">./tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="TBAI_PRIVATE_KEY" value="tbai-test"/>
    <env name="TBAI_P12_PATH" value="./tests/__files/tbaiTestStore.p12"/>
  </php>
</phpunit>
